body{
  padding-top:60px;
  padding-bottom:70px;
}
/*头部*/
header{
  height:60px;
  width:100%;
  background: #0dc441;
  display: -webkit-flex;
  justify-content:space-around;
  align-items: center;
  position:fixed;
  top:0; 
  z-index:18;
    
}
header div{
  display:-webkit-flex; 
  -webkit-flex-wrap:wrap;   
  justify-content: center;
  align-items: center;
}
header .tou a:nth-child(1),header .tou a:nth-child(2){
  display:-webkit-flex;
  justify-content: center;
  align-items: center;
  background:rgba(255,255,255,.4);
  color:#0dc441;
  font-size:15px;
  font-weight:bold;
  height:35px;
  width:70px;   
}
header .tou a:nth-child(1){
  border-radius:18px 0 0 18px;
  background:rgba(255,255,255,.8);
}
header .tou a:nth-child(2){
  border-radius:0 18px 18px 0; 
}
header i{   
  font-size:35px !important;
  color:#ccc;
  opacity: 0.5;  
}
header i:hover{
  color:yellow; 
}




article{
  margin:20px auto;
  padding:10px 8px; 
}
article .ti{
  text-align:center;
  color:#0dc441;
   
}
article h2{
  font-size:18px;
}
article time{
 float:right;  
 margin:10px 0;
 color:#0dc441;
 font-size:13px;     
}
article p{
  clear:both;
  background:background:rgba(0,255,0,0.05);
  color:black; 
  opacity:0.5;
  line-height:20px;
  font-size:15px;
  padding:0;
  margin:0;  
}


/*底部*/
footer{
  position:fixed;
  bottom:0;
  z-index:10;
  width:100%; 
}
footer ul{
  width:100%;    
  height:70px;
  display:-webkit-flex;  
  background: #0dc441 !important;
}
footer ul li{
  display:-webkit-flex;
  flex: 1;
  justify-content: center;
  align-items:center; 
  -webkit-flex-wrap:wrap; 
}
footer ul li div{
  display:-webkit-flex;
  width:100%; 
  justify-content: center;
  align-items:center;   
}
footer ul li:hover i{
   color:yellow; 
}
footer ul li:hover span{
   color:yellow; 
}
footer i{
  font-size:25px !important;
  display:block;
  color:#ccc;
  opacity: 0.5;  
}
footer span{
  color:white;
  font-size:15px; 
}
